@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
/* Home Pages */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ffffff; }

.background {
  height: 91vh;
  background-image: url(/Media/Background/Background.jpg);
  background-size: cover;
  font-size: 7rem;
  font-family: "Questrial";
  font-weight: 700;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.background2 {
  height: 548px;
  background-image: url(/Media/Background/Background3.jpg);
  background-size: cover;
  font-size: 80px;
  font-family: "poppins";
  font-weight: 700;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.brands {
  font-family: "poppins";
  font-weight: 400;
  font-size: 1.8rem;
  color: #ff1980; }

.brand {
  padding: 12rem 10% 12rem 10%; }

/* Header */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 8%; }
  header li, header a {
    font-family: "Questrial";
    font-weight: 600;
    font-size: 23px;
    color: #ff1980;
    text-decoration: none; }
  header .nav_links li {
    display: inline-block;
    padding: 0px 15px; }
  header .logo {
    width: 160px;
    margin-top: -4%;
    margin-bottom: 4%; }

/* barra-de-imagenes-principal */
section {
  padding: auto;
  height: 100vh; }
  section .container {
    position: absolute;
    display: flex;
    height: calc(100% - 90px);
    width: calc(100% - 0px);
    z-index: 99; }
    section .container .box {
      position: relative;
      display: flex;
      width: 25%;
      height: 100%;
      overflow: hidden; }
      section .container .box .imgBox {
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.5s;
        opacity: 0.7;
        filter: grayscale(1); }
        section .container .box .imgBox img {
          position: absolute;
          top: 0px;
          left: 0;
          width: 100%;
          height: 98%;
          object-fit: cover;
          transition: 0.5s; }
      section .container .box .imgBox:hover {
        opacity: 1;
        filter: grayscale(0); }

/* barra-de-imagenes-pag-proyectos */
.center-content {
  text-align: center; }

section .container .box1 {
  position: relative;
  width: 100%;
  height: 100%; }
  section .container .box1 .imgBox img {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }

/* Formulario-pag-contacto */
.btn-green {
  color: #ffffff;
  background-color: #21b523;
  width: 13rem;
  height: 2rem;
  border-radius: 1rem; }

.btn-red {
  color: #ffffff;
  background-color: #ff1980;
  width: 13rem;
  height: 2rem;
  border-radius: 1rem; }

form {
  color: #ff1980;
  font-family: "Questrial";
  font-size: 1.3rem;
  padding: 30px;
  border-radius: 10px;
  margin: 3rem 0rem 0rem 3rem;
  height: 30rem;
  display: block;
  position: fixed;
  width: 33rem; }

.letrap {
  padding: .1rem 0 .2rem .7rem; }

.formulariofinal {
  height: 90vh;
  margin-top: 0%;
  background-image: url(./Media/Background/Background.jpg); }

input, textarea {
  outline: none;
  border: 0; }

.field {
  border: solid 1px #e6c9df;
  padding: .9rem;
  width: 27.5rem;
  margin: .7rem; }

/* widget redes sociales */
.social-bar {
  background: none;
  position: fixed;
  right: 0;
  top: 34%;
  font-size: 1.5rem;
  flex-direction: column;
  align-items: flex-end;
  display: flex;
  z-index: 100; }
  .social-bar .icon {
    color: white;
    text-decoration: none;
    padding: .9rem;
    display: flex;
    transition: all .5s; }
  .social-bar .icon-whatsapp {
    background: linear-gradient(#25d366, #25d366); }
  .social-bar .icon-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); }
  .social-bar .icon-youtube {
    background: #e31f18; }
  .social-bar .icon-linkedin {
    background: #0e76a8; }
  .social-bar .icon:first-child {
    border-radius: 1rem 0 0 0; }
  .social-bar .icon:last-child {
    border-radius: 0 0 0 1rem; }
  .social-bar .icon:hover {
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42); }

.footer {
  position: relative;
  margin-top: -8%;
  margin-bottom: 0%;
  height: auto;
  width: 100%;
  padding: 3%;
  display: flex;
  justify-content: space-around;
  align-items: center; }

/* Iphone*/
@media screen and (max-width: 769px) {
  .background {
    height: 408px;
    background-image: url(/Media/Background/Background.jpg);
    background-size: cover;
    font-size: 2.1rem;
    font-family: "poppins";
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .background2 {
    height: 408px;
    background-image: url(/Media/Background/Background3.jpg);
    background-size: cover;
    font-size: 55px;
    font-family: "poppins";
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .brands {
    font-family: "poppins";
    font-weight: 400;
    font-size: 0.9rem;
    color: #ff1980; }
  .brand {
    padding: 8rem 10% 8rem 10%; }
  /* Header */
  header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 6px 2%; }
    header li, header a {
      font-family: "Poppins";
      font-weight: 600;
      font-size: 14px;
      color: #FF637E;
      text-decoration: none; }
    header .nav_links li {
      display: inline-block;
      padding: 0px 3px; }
    header .logo {
      width: 100px; }
  /* barra-de-imagenes-principal */
  section {
    padding: auto;
    height: 100vh; }
    section .container {
      position: absolute;
      display: contents;
      height: calc(100% - 140px);
      width: calc(100% - 0px); }
      section .container .box {
        position: relative;
        width: auto;
        height: 95%; }
        section .container .box .imgBox {
          position: absolute;
          top: 0px;
          left: 0;
          width: 100%;
          height: 100%;
          transition: 0.5s;
          opacity: 0.7;
          filter: grayscale(1); }
          section .container .box .imgBox img {
            position: absolute;
            top: 0px;
            left: 0;
            width: 100%;
            height: 98%;
            object-fit: cover;
            transition: 0.5s; }
        section .container .box .imgBox:hover {
          opacity: 1;
          filter: grayscale(0); }
  /* barra-de-imagenes-pag-proyectos */
  .center-content {
    text-align: center; }
  section .container .box1 {
    position: relative;
    width: 100%;
    height: 100%; }
    section .container .box1 .imgBox img {
      position: absolute;
      top: 0px;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .letra {
    font-size: 16px;
    font-family: "poppins";
    font-weight: 400;
    background: none;
    color: whitesmoke; }
  /* widget redes sociales */
  .social-bar {
    background: none;
    position: fixed;
    right: 0;
    top: 34%;
    font-size: 1.1rem;
    flex-direction: column;
    align-items: flex-end;
    display: flex;
    z-index: 100; }
    .social-bar .icon {
      color: white;
      text-decoration: none;
      padding: .65rem;
      display: flex;
      transition: all .5s; }
    .social-bar .icon-whatsapp {
      background: linear-gradient(#25d366, #25d366); }
    .social-bar .icon-instagram {
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); }
    .social-bar .icon-youtube {
      background: #e31f18; }
    .social-bar .icon-linkedin {
      background: #0e76a8; }
    .social-bar .icon:first-child {
      border-radius: 1rem 0 0 0; }
    .social-bar .icon:last-child {
      border-radius: 0 0 0 1rem; }
    .social-bar .icon:hover {
      padding-right: 3rem;
      border-radius: 1rem 0 0 1rem;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42); }
  .footer {
    position: absolute;
    margin-bottom: 0%;
    height: 120px;
    margin-top: 470%;
    width: 100%;
    padding: 3%;
    justify-content: space-around; } }
